.meetVideoConatiner{
    position:relative;
    height: 100vh;
    background-color: rgb(71, 17, 197);
    

}

.meetuserVideo{
    position: absolute;
    bottom:10vh;
    left: 0;
    height: 20vh;
    width: auto;
    border-radius: 20px;
    
}


.buttonContainer{
position: absolute;
width: 100vw;
bottom: 0;
text-align: center;
}

.buttonContainer svg{
    font-size: 4rem;
}

.conferenceView { 

    display: flex;
    
    padding: 10px;
    gap: 10px;
}

.conferenceView video {
    width: 40vw;
    height: 20vh;
    min-width: 30vw;
    border-radius: 10px;
}

.chatRoom {
    position: absolute;
    height: 90vh;
    right: 0;
    background: white;
    border-radius: 10px;
    width: 30vw;
    padding-inline: 20px;
}

.chatContainer {
    position: relative;
    height: 100%;
}

.chattingArea{
    position: absolute;
    bottom: 1rem;
   
}

.chattingDisplay{
    
}